
<div class="modal fade" id="withdraw-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title" id="exampleModalLabel"><strong class="text-white">Withdraw Funds</strong></h4>
                <button type="button" class="close border border-bottom-0" data-dismiss="modal" aria-label="Close">
                    <span class="close-mark" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="MakeDeposit" method="POST">
                    <div class="mb-3 mx-4 pl-2">
                        <div class="row align-items-end justify-content-center mb-5 ml-1 mt-3">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-light" id="basic-addon1">$</span>
                                </div>
                                <input type="text" class="form-control bg-light border-left-0" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-4 px-3">
                            <h5 class="text-left font-weight-light ">Withdrawable Balance</h5>
                            <h5><strong class="text-success">$ 0.00</strong></h5>
                        </div>
                        <div class="bg-light border py-4 px-3">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex poppover-info" data-container="body" data-toggle="popover"
                                       data-content="This number represents' the total worth of your real funds including invested and non invested funds + unrealized P&L. Please note that realized profits and losses (generated profits / losses upon closing trade) will be first reflected in your cash equity.">
                                    <h5 class="text-left font-weight-light" >Total Equity</h5>
                                    <i class="fas fa-info-circle text-info info-icon pl-1"></i>
                                </div>
                                <h5><strong>$ 0.00</strong></h5>

                            </div>
                        </div>
                        <p class="mt-5 text-secondary mb-1">Your funds will be send to one of these accounts</p>
                        <div class="d-flex">
                            <div class="d-flex card-logo-div">
                                <img class="img-fluid px-2" src="~/img/visa-logo.svg" />
                            </div>
                            <select class="form-control" name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                            @*  <select asp-for="CategoryId" class="form-control" asp-items="categoryItems"></select>*@
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button type="submit" class="btn btn-info withdraw-button px-5 py-2">Withdraw</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="bg-light modal-footer pl-3 d-flex justify-content-start">
                <p class="text-secondary small">WITHDRAWAL POLICY</p>
                <p class="text-secondary small">By submitting this withdrawal request I confirm I have read and understood TOPTRADE’s Withdrawal Policy and Fees</p>
            </div>
        </div>
    </div>
</div>