@using TopTrade.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/fonts/fa-brands-400.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/fa-solid-900.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Font preload -->
    <link href="~/fonts/inter-v2-latin-regular.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-500.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-700.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="apple-touch-icon-precomposed" href="~/img/apple-touch-icon.png" asp-append-version="true">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/uikit.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
</head>
<body>
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <header>
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/in-lazy.gif" data-src="img/top-trade-logo.svg" alt="logo" width="160" height="34" data-uk-img>
                            </a>
                            <ul class="uk-navbar-nav uk-visible@m">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Home<i class="fas fa-chevron-down"></i></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="homepage2.html">Homepage 2</a></li>
                                            <li><a href="homepage3.html">Homepage 3</a></li>
                                            <li><a href="homepage4.html">Homepage 4</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="markets.html">Markets</a></li>
                                <li>
                                    <a href="#">Company<i class="fas fa-chevron-down"></i></a>
                                    <div class="uk-navbar-dropdown">
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="blog-list.html">Blog</a></li>
                                            <li><a href="careers.html">Careers</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="education.html">Education</a></li>
                                <li>
                                    <a href="#">Resources<i class="fas fa-chevron-down"></i></a>
                                    <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                        <div class="uk-navbar-dropdown-grid uk-child-width-1-2" data-uk-grid>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li><a href="https://getuikit.com/docs/">Documentation<i class="fas fa-external-link-square-alt fa-sm"></i></a></li>
                                                    <li><a href="help-center.html">Help Center</a></li>
                                                    <li><a href="customers.html">Customers</a></li>
                                                    <li><a href="roadmap.html">Roadmap</a></li>
                                                    <li><a href="legal-docs.html">Legal Docs<i class="fas fa-gavel fa-sm"></i></a></li>
                                                </ul>
                                            </div>
                                            <div>
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <li><a class="uk-disabled" href="#">Adipiscing elit sed do eiusmod incididunt ut labore dolore magna lorem ipsum sit dolor amet consectetur</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            <a asp-area="Identity" asp-page="/Account/Register" class="uk-button uk-button-primary uk-border-rounded">Create Account</a>
                            <a asp-area="Identity" asp-page="/Account/Login" class="uk-button uk-button-text"><i class="fas fa-user-circle"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    @this.RenderBody()

    <footer>
        <div class="uk-section uk-section-secondary in-footer-feature uk-margin-medium-top">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-5-6@m">
                        <div class="uk-grid uk-child-width-1-3@s" data-uk-grid>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <i class="fas fa-history in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">25 years of Excellence</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-center@m">
                                <div class="uk-margin-right">
                                    <i class="fas fa-trophy in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">15+ Global Awards</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-right@m">
                                <div class="uk-margin-right">
                                    <i class="fas fa-phone-alt in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">24/5 Customer Support</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section uk-background-secondary uk-light">
            <div class="uk-container uk-text-small">
                <div class="uk-child-width-1-2@m" data-uk-grid>
                    <div class="in-footer-logo">
                        <img src="img/in-lazy.gif" data-src="img/top-trade-logo.svg" alt="logo" width="127" height="27" data-uk-img>
                    </div>
                    <div class="uk-flex uk-flex-right@m">
                        <div class="in-footer-socials">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-telegram-plane"></i></a>
                        </div>
                        <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Company News</a>
                        <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m" href="#">Partnership</a>
                    </div>
                </div>
                <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <h5>Markets</h5>
                        <ul class="uk-list uk-link-text">
                            <li><a href="#">Share CFDs</a></li>
                            <li><a href="#">Forex</a></li>
                            <li><a href="#">Indices</a></li>
                            <li><a href="#">Commodities</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5>Trading Platforms</h5>
                        <ul class="uk-list uk-link-text">
                            <li><a href="#">Web platform</a></li>
                            <li><a href="#">Trading apps</a></li>
                            <li><a href="#">MetaTrader 5</a></li>
                            <li><a href="#">Compare features</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5>Account Types</h5>
                        <ul class="uk-list uk-link-text">
                            <li><a href="#">Demo account</a></li>
                            <li><a href="#">Standart account</a></li>
                            <li><a href="#">ECN account</a></li>
                            <li><a href="#">Islamic acount</a></li>
                        </ul>
                    </div>
                    <div>
                        <h5>Learn to Trade</h5>
                        <ul class="uk-list uk-link-text">
                            <li><a href="#">News and trade ideas</a></li>
                            <li><a href="#">Trading strategy</a></li>
                            <li><a href="#">Forex trading course</a></li>
                        </ul>
                    </div>
                </div>
                <div class="uk-grid uk-margin-large-top">
                    <div class="uk-width-1-1">
                        <p class="uk-heading-line uk-margin-large-bottom"><span>Copyright ©2021 Liquid Inc. All Rights Reserved.</span></p>
                        <p class="in-trading-risk">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>
    </footer>

    <script src="~/js/uikit.min.js" asp-append-version="true"></script>
    <script src="~/js/blockit.min.js" asp-append-version="true"></script>
    <script src="~/js/config-theme.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
