@using TopTrade.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/fonts/fa-brands-400.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/fa-solid-900.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Font preload -->
    <link href="~/fonts/inter-v2-latin-regular.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-500.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-700.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="apple-touch-icon-precomposed" href="~/img/apple-touch-icon.png" asp-append-version="true">
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/uikit.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <header>
        <div class="uk-section uk-padding-remove-vertical">
            <nav class="uk-navbar-container" data-uk-sticky="show-on-up: true; animation: uk-animation-slide-top;">
                <div class="uk-container" data-uk-navbar>
                    <div class="uk-navbar-left">
                        <div class="uk-navbar-item">
                            <a class="uk-logo" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/in-lazy.gif" data-src="img/top-trade-logo.svg" alt="logo" width="160" height="34" data-uk-img>
                            </a>
                            <ul class="uk-navbar-nav uk-visible@m">
                                @if (this.User.IsInRole(GlobalConstants.AccountManagerRoleName))
                                {
                                    <li>
                                        <a asp-area="AccountManager" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="uk-navbar-right">
                        <div class="uk-navbar-item uk-visible@m in-optional-nav">
                            <a asp-area="Identity" asp-page="/Account/Register" class="uk-button uk-button-primary uk-border-rounded">Create Account</a>
                            <a asp-area="Identity" asp-page="/Account/Login" class="uk-button uk-button-text"><i class="fas fa-user-circle"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>
    @this.RenderBody()

    <footer>
        <div class="uk-section uk-section-secondary in-footer-feature uk-margin-medium-top">
            <div class="uk-container">
                <div class="uk-grid uk-flex uk-flex-center">
                    <div class="uk-width-5-6@m">
                        <div class="uk-grid uk-child-width-1-3@s" data-uk-grid>
                            <div class="uk-flex uk-flex-middle">
                                <div class="uk-margin-right">
                                    <i class="fas fa-history in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">25 years of Excellence</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-center@m">
                                <div class="uk-margin-right">
                                    <i class="fas fa-trophy in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">15+ Global Awards</h6>
                                </div>
                            </div>
                            <div class="uk-flex uk-flex-middle uk-flex-right@m">
                                <div class="uk-margin-right">
                                    <i class="fas fa-phone-alt in-icon-wrap"></i>
                                </div>
                                <div>
                                    <h6 class="uk-margin-remove">24/5 Customer Support</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section uk-background-secondary uk-light">
            <div class="uk-container uk-text-small">
                <div class="uk-child-width-1-2@m" data-uk-grid>
                    <div class="in-footer-logo">
                        <img src="img/in-lazy.gif" data-src="img/top-trade-logo.svg" alt="logo" width="127" height="27" data-uk-img>
                    </div>
                    <div class="uk-flex uk-flex-right@m">
                        <div class="in-footer-socials">
                            <a><i class="fab fa-facebook-square"></i></a>
                            <a><i class="fab fa-twitter"></i></a>
                            <a><i class="fab fa-youtube"></i></a>
                            <a><i class="fab fa-instagram"></i></a>
                            <a><i class="fab fa-telegram-plane"></i></a>
                        </div>
                        <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m">Company News</a>
                        <a class="uk-button uk-button-text uk-margin-large-left uk-visible@m">Partnership</a>
                    </div>
                </div>
                <div class="uk-grid uk-margin-large-top">
                    <div class="uk-width-1-1">
                        <p class="uk-heading-line uk-margin-large-bottom"><span>Copyright ©2021 Liquid Inc. All Rights Reserved.</span></p>
                        <p class="in-trading-risk">Trading derivatives and leveraged products carries a high level of risk, including the risk of losing substantially more than your initial investment. It is not suitable for everyone. Before you make any decision in relation to a financial product you should obtain and consider our Product Disclosure Statement (PDS) and Financial Services Guide (FSG) available on our website and seek independent advice if necessary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-visible@m">
            <a href="#" class="in-totop fas fa-chevron-up" data-uk-scroll></a>
        </div>
    </footer>

    <script src="~/js/uikit.min.js" asp-append-version="true"></script>
    <script src="~/js/blockit.min.js" asp-append-version="true"></script>
    <script src="~/js/config-theme.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
