<div class="content-header row">
    <div class="content-header-left ml-5 mt-4 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">@ViewData["PageName"]</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewData["PageName"]
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>