<div class="col-xl-5">
    <h6 class="buy-sell-menu"><b class="green-text">BUY</b> / <b class="red-text">SELL</b></h6>
    <div class="row">
        <div class="col-md-6">
            <form class="buy-sell-form">
                <p>
                    Buy
                    <span class="green-text">BTC</span>
                    <span>
                        Available:
                        <b class="green-text">0.00 BTC</b>
                    </span>
                </p>
                <div class="buy-section">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Price</span> </div>
                        <input type="text" class="form-control" placeholder="0.02323476" readonly="">
                        <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Amount</span> </div>
                        <input type="number" class="form-control">
                        <div class="input-group-append"> <span class="input-group-text">BTC</span> </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Total</span> </div>
                        <input type="text" class="form-control" readonly="">
                        <div class="input-group-append"> <span class="input-group-text">BTC</span> </div>
                    </div>
                    <div>
                        <p>Fee: <span>100%x0.2=0.02</span></p>
                    </div>
                    <div class="text-center mt-3 mb-3 crypt-up">
                        <p>You will approximately pay</p>
                        <h4>0.09834 BTC</h4>
                    </div>
                    <div class="button"><button class="buy-button">Buy</button></div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form class="sell-form">
                <p>Sell <span class="red-text">BTC</span> <span>Available: <b class="red-text">0.00 BTC</b></span></p>
                <div class="sell">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Price</span> </div>
                        <input type="text" class="form-control" placeholder="0.02323476" readonly="">
                        <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Amount</span> </div>
                        <input type="number" class="form-control">
                        <div class="input-group-append"> <span class="input-group-text">BTC</span> </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text">Total</span> </div>
                        <input type="text" class="form-control" readonly="">
                        <div class="input-group-append"> <span class="input-group-text">BTC</span> </div>
                    </div>
                    <div>
                        <p>Fee: <span class="fright">100%x0.2=0.02</span></p>
                    </div>
                    <div class="text-center mt-3 mb-3 crypt-down">
                        <p>You will approximately pay</p>
                        <h4>0.09834 BTC</h4>
                    </div>
                    <div class="button"><button class="sell-button">Sell</button></div>
                </div>
            </form>
        </div>
    </div>
</div>