@using TopTrade.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/fonts/fa-brands-400.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/fa-solid-900.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Font preload -->
    <link href="~/fonts/inter-v2-latin-regular.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-500.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-700.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="apple-touch-icon-precomposed" href="~/img/apple-touch-icon.png" asp-append-version="true">
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.dashboard.css" asp-append-version="true" />
</head>
<body>
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            @*TopTrade*@
            <img class="img-fluid" src="~/img/top-trade-logo.svg" />
        </div>
        <ul class="sidebar-navigation">
            <li class="header">Trade</li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Watchlist
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-home" aria-hidden="true"></i> News Feed
                </a>
            </li>
            <li class="header">Another Menu</li>
            <li>
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i> News Feed
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cog" aria-hidden="true"></i> Settings
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Information
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Withdraw Funds
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Deposit Funds
                </a>
            </li>
        </ul>
        <div class="deposit-button-wrapper">
            <button type="button" class="btn btn-success deposit-button" data-toggle="modal" data-target="#exampleModal">
                Deposit Funds
            </button>
        </div>
    </div>

    <div class="content-container">
        @*<div class="container-fluid">*@
        @*<partial name="_CookieConsentPartial" />*@
        @this.RenderBody()
        @*</div>*@
    </div>
    @*<div class="container">
            <partial name="_CookieConsentPartial" />
        </div>
        @this.RenderBody()*@



    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Fund your account</h5>
                    <button type="button" class="close border" data-dismiss="modal" aria-label="Close">
                        <span class="close-mark" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="row align-items-end justify-content-between">
                            <div class="form-group col col-md-8 pr-1">
                                <label class="small">Amount</label>
                                <input type="number" class="form-control" placeholder="1000">
                            </div>
                            <div class="form-group col col-md-4 pl-1">
                                <label></label>
                                <input type="number" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="small">Payment method</label>
                            <div class="input-group">
                                <input class="form-control border-right-0" placeholder="Credit/Debit card">
                                <span class="input-group-append bg-white border-left-0">
                                    <span class="input-group-text bg-transparent">
                                        <img src="~/img/credit-card.svg" />
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="card-logos d-flex justify-content-end">
                            <img class="img-fluid small-logo" src="~/img/maestro-logo.svg" />
                            <img class="img-fluid px-2" src="~/img/visa-logo.svg" />
                            <img class="img-fluid small-logo" src="~/img/mastercard-logo.svg" />
                        </div>

                        <div class="form-group my-md-4">
                            <input class="form-control" placeholder="Card Number">
                        </div>

                        <div class="row">
                            <div class="form-group col pr-1">
                                <input class="form-control text-secondary" placeholder="1000">
                            </div>
                            <div class="form-group col pl-1">
                                <input class="form-control text-secondary">
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <p class="small">Name on Card</p>
                            <div class="row">
                                <div class="form-group col-md-4 pr-0 mb-0">
                                    <input class="form-control text-secondary" placeholder="1000">
                                </div>
                                <div class="form-group col-md-4 px-1 mb-0">
                                    <input class="form-control text-secondary">
                                </div>
                                <div class="form-group col-md-4 pl-0 mb-0">
                                    <input class="form-control text-secondary">
                                </div>
                            </div>
                            <p class="small text-secondary"> * This card should belong to you and be in your name. </p>
                        </div>

                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success">Deposit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/uikit.min.js" asp-append-version="true"></script>
    <script src="~/js/blockit.min.js" asp-append-version="true"></script>
    <script src="~/js/config-theme.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
