@using TopTrade.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]</title>

    <link href="~/fonts/fa-brands-400.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/fa-solid-900.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Font preload -->
    <link href="~/fonts/inter-v2-latin-regular.woff2" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-500.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <link href="~/fonts/inter-v2-latin-700.woff2" as="font" rel='stylesheet' type='font/woff2' asp-append-version="true">
    <!-- Favicon and apple icon -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="true">
    <link rel="apple-touch-icon-precomposed" href="~/img/apple-touch-icon.png" asp-append-version="true">
    <!-- CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/user.min.css" asp-append-version="true" />
</head>
<body>
    <div class="in-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            <a asp-area="User" asp-controller="Home" asp-action="Index">
                <img class="img-fluid" src="~/img/top-trade-logo.svg" />
            </a>
        </div>
        <ul class="sidebar-navigation">
            <li class="user-card">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <a class="p-0" asp-area="User" asp-controller="Profile" asp-action="Index">
                                <img src="~/img/female-avatar.jpg" class="card-img ml-3 my-3" alt="user-avatar">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h6 class="card-title ml-3 text-center">nickwork5500</h6>
                                <h5 class="card-title ml-3 mt-4 text-center verification-status" data-toggle="modal"
                                    data-target="#profile-verification">
                                    Not Verified
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a asp-area="User" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-th-list" aria-hidden="true"></i> Watchlist
                </a>
            </li>
            <li>
                <a asp-area="User" asp-controller="Wallet" asp-action="Index">
                    <i class="fa fa-university" aria-hidden="true"></i> Wallet
                </a>
            </li>
            <li>
                <a asp-area="User" asp-controller="Transactions" asp-action="Index">
                    <i class="fa fa-money-bill-alt" aria-hidden="true"></i> Transactions
                </a>
            </li>
            <li>
                <a asp-area="User" asp-controller="News" asp-action="Index">
                    <i class="fa fa-users" aria-hidden="true"></i> News Feed
                </a>
            </li>
            <li>
                <a asp-area="User" asp-controller="Profile" asp-action="Index">
                    <i class="fa fa-cog" aria-hidden="true"></i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Information
                </a>
            </li>
            <li>
                <a data-toggle="modal"
                   data-target="#withdraw-modal">
                    <i class="fa fa-money-bill-wave-alt" aria-hidden="true"></i> Withdraw Funds
                </a>
            </li>
            <li>
                <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                    <i class="fa fa-sign-out-alt" aria-hidden="true"></i> Logout
                </a>
            </li>
        </ul>
        <div class="deposit-button-wrapper">
            <button type="button" class="btn btn-success deposit-button" data-toggle="modal"
                    data-target="#deposit-modal">
                Deposit Funds
            </button>
        </div>
    </div>

    <div class="content-container">
        @this.RenderBody()
    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
    </div>

    <vc:deposit-modal></vc:deposit-modal>
    <vc:account-verification></vc:account-verification>
    <vc:withdraw-funds></vc:withdraw-funds>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @*<script src="~/js/user/stock-search.js" asp-append-version="true"></script>*@
    @*<script src="~/js/user/stock-news-search.js" asp-append-version="true"></script>*@
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
