@model TopTrade.Web.ViewModels.User.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
    ViewData["PageName"] = "User Profile";
}

@if (TempData["Message"] != null)
{
    <partial name="_ToastPartial" />
}

<div class="content-body profile-wrapper">
    <partial name="_NavigationPartial" view-data="ViewData">
        <div class="row">
            <div class="col-12">
                <div class="history-deposit-card">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title">Edit Profile</h4>
                        <button class="btn btn-info" data-toggle="modal"
                                data-target="#profile-verification">
                            Verify Your Account
                        </button>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="profile-page-card">
                                    <div class="card-body">
                                        <form asp-controller="Profile" asp-action="Edit" method="POST">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="FirstName" class="control-label">
                                                            First Name
                                                        </label>
                                                        <input asp-for="FirstName" aria-describedby="addon-right addon-left" placeholder="First Name" class="form-control">
                                                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="MiddleName" class="control-label">
                                                            *Middle Name <span class="small">(optional)</span>
                                                        </label>
                                                        <input asp-for="MiddleName" aria-describedby="addon-right addon-left" placeholder="Middle Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="LastName" class="control-label">
                                                            Last Name
                                                        </label>
                                                        <input asp-for="LastName" aria-describedby="addon-right addon-left" placeholder="Last Name" class="form-control">
                                                        <span asp-validation-for="LastName" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="Address" class="control-label">
                                                            Address
                                                        </label>
                                                        <input asp-for="Address" aria-describedby="addon-right addon-left" placeholder="Home Address" class="form-control">
                                                        <span asp-validation-for="Address" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="City" class="control-label">
                                                            City
                                                        </label>
                                                        <input asp-for="City" aria-describedby="addon-right addon-left" placeholder="City" class="form-control">
                                                        <span asp-validation-for="City" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="Country" class="control-label">
                                                            Country
                                                        </label>
                                                        <input asp-for="Country" aria-describedby="addon-right addon-left" placeholder="Country" class="form-control">
                                                        <span asp-validation-for="Country" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="ZipCode" class="control-label">
                                                            Postal Code
                                                        </label>
                                                        <input asp-for="ZipCode" aria-describedby="addon-right addon-left" placeholder="ZIP Code" class="form-control">
                                                        <span asp-validation-for="ZipCode" class="text-danger small"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="AboutMe">*About Me <span class="small">(optional)</span></label>
                                                        <textarea asp-for="AboutMe" rows="5" class="form-control border-input"></textarea>
                                                        <span asp-validation-for="AboutMe" class="text-danger small"></span>
                                                        <input asp-for="Id" hidden/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-info btn-fill float-right">
                                                    Update Profile
                                                </button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="profile-page-card card-user">
                                    <div class="card-image">
                                        <img src="~/img/avatar-background-img.png" alt="user-avatar-image">
                                    </div>
                                    <div class="card-body">
                                        <form asp-controller="Profile" asp-action="UploadAvatar" method="POST" enctype="multipart/form-data">
                                            <label asp-for="UserAvatarInputModel.Documents" class="author d-block">
                                                <input asp-for="UserAvatarInputModel.Documents" name="Documents" type="file" hidden onchange="form.submit()" />
                                                <img class="avatar border-gray" src="@Model.AvatarUrl" alt="user-avatar-image">
                                            </label>
                                        </form>
                                    </div>

                                    <p class="description text-center">
                                        “Rule No. 1: Never lose money.<br>
                                        Rule No. 2: Never forget rule No.1” <br>
                                        – Warren Buffett
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
