@model TopTrade.Web.ViewModels.User.VerificationDocumentsInputModel

<div class="modal fade" id="profile-verification" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content profile-verification-content px-4 py-4">
            <div class="modal-header border-0 pb-0">
                <h3 class="font-weight-bold text-secondary" id="myLargeModalLabel">Passport or ID Card</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="close-mark text-secondary" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form asp-controller="Profile" asp-action="UploadDocuments" method="POST" enctype="multipart/form-data" class="documents-form">
                    <p>Please upload a color copy of your passport or both sides of ID card for verification purposes as required by our regulator.</p>
                    <div class="row">
                        <div class="form-group col pr-1">
                            <div class="id-example text-center">
                                <img src="~/img/passport.png" alt="ID example">
                            </div>
                        </div>
                        <div class="form-group col pl-1">
                            <ul style="list-style: none;">
                                <li><strong>Passport or ID card must include:</strong></li>
                                <li>&ensp;-Colored photo</li>
                                <li>&ensp;-Full name</li>
                                <li>&ensp;-Date of birth</li>
                                <li>&ensp;-Valid expiration date</li>
                                <li>&ensp;-Official document number</li>
                            </ul>
                        </div>
                    </div>
                    <p class="small">Verification is a mandatory part of the process of registering for the TOPTRADE platform. Regulatory requirements dictate that we verify each new TOPTRADE account. This keeps our platform secure and prevents untoward activity.</p>
                    <p class="small text-secondary">*File format must be an image: JPG, PNG, GIF, TIF, PDF. Maximum file size 5MB</p>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-info upload-documents-btn">
                            Upload
                        </button>
                        <input asp-for="Documents" multiple class="upload-documents-input" type="file" hidden>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    <script src="~/js/user/user-profile.js" type="text/javascript"></script>
}*@