body {
    background: rgb(19, 23, 34);
    color: azure;
}


.crypt-market-status {
    background: rgb(19, 23, 34);
    box-shadow: 0 2px 10px #f1f1f1;
}

ul.nav-tabs {
    padding: 13px 0px;
    border: none;
    background: rgb(31, 38, 56);
    color: seashell;
}

ul.nav-tabs li {
    padding: 0 13px;
}

ul.nav-tabs li a {
    color: seashell;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 12px;
    font-size: 13px;
        }

ul.nav-tabs li a.active {
    border-bottom: 3px solid #f7614e;
}

.tab-content {
    max-height: 338px;
    overflow-y: hidden;
}

.crypt-table-danger {
    background: #ffedea !important;
}

.crypt-table-success {
    background: #f9fcff !important;
}

.crypt-table-hover tr:hover {
    background: #ffedea !important;
}

table td,
table th {
    border: none !important;
}

.table {
    color: rgb(240, 229, 222);
}
