<div class="app-content content">
    <div class="history-content-wrapper">
        <div class="content-header row">
            <div class="content-header-left ml-5 mt-4">
                <h3 class="content-header-title mb-0 d-inline-block">News</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item">
                                <a asp-area="User" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                News
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row justify-content-md-center">
                <div class="col-8">
                    <form class="search-news-from col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control border-right-0" placeholder="Search stock news">
                                <span class="input-group-prepend search-icon-button">
                                    <span class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </span>
                                <div class="close-search-bar" hidden>
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="news-card">
                        <div class="card-header">
                            <h4 class="card-title">Aticle Title</h4>
                        </div>
                        <div class="card-body">
                            <div class="img-wrapper">
                                <img class="img-fluid"
                                     src="https://hipertextual.com/wp-content/uploads/2019/12/hipertextual-2019982676.jpg"
                                     alt="">
                            </div>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat consequuntur,
                                eius nisi esse provident ex fugiat eum alias distinctio officiis debitis dolor,
                                perferendis deserunt quod magnam, voluptate minima. Suscipit?
                            </p>
                            <div>
                                <span>article.Url: somelink.com</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-between mx-3">
                                <p>Author: <strong>Author Name</strong></p>
                                <p>Published At : <strong>12.12.2022</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="news-card">
                        <div class="card-header">
                            <h4 class="card-title">Aticle Title</h4>
                        </div>
                        <div class="card-body">
                            <div class="img-wrapper">
                                <img class="img-fluid"
                                     src="https://hipertextual.com/wp-content/uploads/2019/12/hipertextual-2019982676.jpg"
                                     alt="">
                            </div>
                            <hr>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat consequuntur,
                                eius nisi esse provident ex fugiat eum alias distinctio officiis debitis dolor,
                                perferendis deserunt quod magnam, voluptate minima. Suscipit?
                            </p>
                            <div>
                                <span>article.Url: somelink.com</span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-between mx-3">
                                <p>Author: <strong>Author Name</strong></p>
                                <p>Published At : <strong>12.12.2022</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>